html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  max-height: 100vh;
}

html, body {
  background-color: #F8F8F8
}

.header {
  text-align: center;
  background-color: lightgray;
  color: midnightblue;
  padding-bottom: 0 !important;
}

.header h1 {
  padding: 5px 0;
}

.results {
  max-height: 50vh;
  overflow-y: scroll;
}

.trade-col {
  max-height: calc(100vh - 152px) !important;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.trade-card {
  height: 75px;
  padding: 5px;
  border: 1px solid gray;
}
